
@{
    ViewData["Title"] = "Index";
}


<div class="inside-sec">
    <!-- BIO AND SKILLS -->
    <h5 class="tittle">PORTFOLIO</h5>

    <!-- PORTFOLIO -->
    <section class="portfolio padding-top-50 padding-bottom-50">
        <!-- Work Filter -->
        <ul class="tabs portfolio-filter text-center margin-bottom-30">
            <li class="filter" data-filter="all">all</li>
            <li class="filter" data-filter=".brand">Branding</li>
            <li class="filter" data-filter=".design">designing</li>
            <li class="filter" data-filter=".photo">photography</li>
            <li class="filter" data-filter=".visual">visual design</li>
        </ul>

        <!-- PORTFOLIO ITEMS -->
        <div id="Container" class="item-space row col-3">

            <!-- ITEM -->
            <article class="portfolio-item mix pf-web-design">
                <div class="portfolio-image">
                    <a href="#."> <img class="img-responsive" alt="Open Imagination" src="~/assets/images/portfolio/5/img-1.jpg"> </a>
                    <div class="portfolio-overlay style-4">
                        <div class="detail-info">
                            <div class="position-center-center">
                                <h3 class="no-margin">Assembly Branding</h3>
                                <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search"></i></a> <a href="#." class="go"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- ITEM -->
            <article class="portfolio-item mix pf-photography pf-branding-design">
                <div class="portfolio-image">
                    <a href="#."> <img class="img-responsive" alt="Open Imagination" src="~/assets/images/portfolio/5/img-2.jpg"> </a>
                    <div class="portfolio-overlay style-4">
                        <div class="detail-info">
                            <div class="position-center-center">
                                <h3 class="no-margin">Assembly Branding</h3>
                                <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search"></i></a> <a href="#." class="go"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- ITEM -->
            <article class="portfolio-item mix pf-web-design pf-branding-design">
                <div class="portfolio-image">
                    <a href="#."> <img class="img-responsive" alt="Open Imagination" src="~/assets/images/portfolio/5/img-3.jpg"> </a>
                    <div class="portfolio-overlay style-4">
                        <div class="detail-info">
                            <div class="position-center-center">
                                <h3 class="no-margin">Assembly Branding</h3>
                                <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search"></i></a> <a href="#." class="go"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- ITEM -->
            <article class="portfolio-item mix pf-web-design pf-digital-art ">
                <div class="portfolio-image">
                    <a href="#."> <img class="img-responsive" alt="Open Imagination" src="~/assets/images/portfolio/5/img-4.jpg"> </a>
                    <div class="portfolio-overlay style-4">
                        <div class="detail-info">
                            <div class="position-center-center">
                                <h3 class="no-margin">Assembly Branding</h3>
                                <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search"></i></a> <a href="#." class="go"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- ITEM -->
            <article class="portfolio-item mix pf-branding-design pf-digital-art">
                <div class="portfolio-image">
                    <a href="#."> <img class="img-responsive" alt="Open Imagination" src="~/assets/images/portfolio/5/img-5.jpg"> </a>
                    <div class="portfolio-overlay style-4">
                        <div class="detail-info">
                            <div class="position-center-center">
                                <h3 class="no-margin">Assembly Branding</h3>
                                <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search"></i></a> <a href="#." class="go"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- ITEM -->
            <article class="portfolio-item mix pf-design pf-digital-art">
                <div class="portfolio-image">
                    <a href="#."> <img class="img-responsive" alt="Open Imagination" src="~/assets/images/portfolio/5/img-9.jpg"> </a>
                    <div class="portfolio-overlay style-4">
                        <div class="detail-info">
                            <div class="position-center-center">
                                <h3 class="no-margin">Assembly Branding</h3>
                                <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search"></i></a> <a href="#." class="go"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- ITEM -->
            <article class="portfolio-item mix pf-web-design pf-branding-design">
                <div class="portfolio-image">
                    <a href="#."> <img class="img-responsive" alt="Open Imagination" src="~/assets/images/portfolio/5/img-7.jpg"> </a>
                    <div class="portfolio-overlay style-4">
                        <div class="detail-info">
                            <div class="position-center-center">
                                <h3 class="no-margin">Assembly Branding</h3>
                                <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search"></i></a> <a href="#." class="go"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- ITEM -->
            <article class="portfolio-item mix pf-web-design pf-digital-art ">
                <div class="portfolio-image">
                    <a href="#."> <img class="img-responsive" alt="Open Imagination" src="~/assets/images/portfolio/5/img-8.jpg"> </a>
                    <div class="portfolio-overlay style-4">
                        <div class="detail-info">
                            <div class="position-center-center">
                                <h3 class="no-margin">Assembly Branding</h3>
                                <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search"></i></a> <a href="#." class="go"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- ITEM -->
            <article class="portfolio-item mix pf-web-design pf-branding-design">
                <div class="portfolio-image">
                    <a href="#."> <img class="img-responsive" alt="Open Imagination" src="~/assets/images/portfolio/5/img-9.jpg"> </a>
                    <div class="portfolio-overlay style-4">
                        <div class="detail-info">
                            <div class="position-center-center">
                                <h3 class="no-margin">Assembly Branding</h3>
                                <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search"></i></a> <a href="#." class="go"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

